tools/tools-jaxb/src/main/resources/schema/category.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="category">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="carrCode" type="xs:string"/>
				<xs:element name="category01" type="category01"/>
				<xs:element name="category02" type="category02"/>
				<xs:element name="category03" type="category03"/>
				<xs:element name="category04" type="category04"/>
				<xs:element name="category05" type="category05"/>
				<xs:element name="category06" type="category06"/>
				<xs:element name="category07" type="category07"/>
				<xs:element name="category08" type="category08"/>
				<xs:element name="category09" type="category09"/>
				<xs:element name="category10" type="category10"/>
				<xs:element name="category11" type="category11"/>
				<xs:element name="category12" type="category12"/>
				<xs:element name="category13" type="category13"/>
				<xs:element name="category14" type="category14"/>
				<xs:element name="category15" type="category15"/>
				<xs:element name="category16" type="category16"/>
				<xs:element name="category17" type="category17"/>
				<xs:element name="category18" type="category18"/>
				<xs:element name="category19" type="category19"/>
				<xs:element name="category20" type="category20"/>
				<xs:element name="category21" type="category21"/>
				<xs:element name="category22" type="category22"/>
				<xs:element name="category23" type="category23"/>
				<xs:element name="category25" type="category25"/>
				<xs:element name="category26" type="category26"/>
				<xs:element name="category27" type="category27"/>
				<xs:element name="category28" type="category28"/>
				<xs:element name="category29" type="category29"/>
				<xs:element name="category31" type="category31"/>
				<xs:element name="category35" type="category35"/>
				<xs:element name="category50" type="category50"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="categoryRow">
		<xs:sequence>
			<xs:element name="categoryId" type="xs:string"/>
			<xs:element name="pgsrType" type="xs:string" minOccurs="0"/>
			<xs:element name="ageMin" type="xs:string" minOccurs="0"/>
			<xs:element name="ageMax" type="xs:string" minOccurs="0"/>
			<xs:element name="geoSpec" type="xs:string" minOccurs="0"/>
			<xs:element name="dateRangeStart" type="xs:string" minOccurs="0"/>
			<xs:element name="dateRangeStop" type="xs:string" minOccurs="0"/>
			<xs:element name="timeOfDayStart" type="xs:string" minOccurs="0"/>
			<xs:element name="timeOfDayStop" type="xs:string" minOccurs="0"/>
			<xs:element name="dayOfWeek" type="xs:string" minOccurs="0"/>
			<xs:element name="advrsvnFirstTimeOfDay" type="xs:string" minOccurs="0"/>
			<xs:element name="advrsvnFirstPeriod" type="xs:string" minOccurs="0"/>
			<xs:element name="advrsvnFirstUnit" type="xs:string" minOccurs="0"/>
			<xs:element name="advrsvnLastTimeOfDay" type="xs:string" minOccurs="0"/>
			<xs:element name="advrsvnLastPeriod" type="xs:string" minOccurs="0"/>
			<xs:element name="advrsvnLastUnit" type="xs:string" minOccurs="0"/>
			<xs:element name="advrsvnTktd" type="xs:string" minOccurs="0"/>
			<xs:element name="advrsvnStand" type="xs:string" minOccurs="0"/>
			<xs:element name="confirmSector" type="xs:string" minOccurs="0"/>
			<xs:element name="advtktgTimeOfDay" type="xs:string" minOccurs="0"/>
			<xs:element name="advtktgRes" type="xs:string" minOccurs="0"/>
			<xs:element name="advtktgUnit1" type="xs:string" minOccurs="0"/>
			<xs:element name="advtktgDept" type="xs:string" minOccurs="0"/>
			<xs:element name="advtktgUnit2" type="xs:string" minOccurs="0"/>
			<xs:element name="advtktgBoth" type="xs:string" minOccurs="0"/>
			<xs:element name="advtktgWaiverText" type="xs:string" minOccurs="0"/>
			<xs:element name="originDayOfWeek" type="xs:string" minOccurs="0"/>
			<xs:element name="minStay" type="xs:string" minOccurs="0"/>
			<xs:element name="return" type="xs:string" minOccurs="0"/>
			<xs:element name="maxStay" type="xs:string" minOccurs="0"/>
			<xs:element name="unit" type="xs:string" minOccurs="0"/>
			<xs:element name="minStayDate" type="xs:string" minOccurs="0"/>
			<xs:element name="maxStayDate" type="xs:string" minOccurs="0"/>
			<xs:element name="eOrl" type="xs:string" minOccurs="0"/>
			<xs:element name="noOfStopsMin" type="xs:string" minOccurs="0"/>
			<xs:element name="noOfStopsMax" type="xs:string" minOccurs="0"/>
			<xs:element name="noOfStopsOut" type="xs:string" minOccurs="0"/>
			<xs:element name="noOfStopsIn" type="xs:string" minOccurs="0"/>
			<xs:element name="timeMin" type="xs:string" minOccurs="0"/>
			<xs:element name="timeMinUnit" type="xs:string" minOccurs="0"/>
			<xs:element name="timeMax" type="xs:string" minOccurs="0"/>
			<xs:element name="timeMaxUnit" type="xs:string" minOccurs="0"/>
			<xs:element name="noOfTransferMin" type="xs:string" minOccurs="0"/>
			<xs:element name="noOfTransferMax" type="xs:string" minOccurs="0"/>
			<xs:element name="noOfTransferOut" type="xs:string" minOccurs="0"/>
			<xs:element name="noOfTransferIn" type="xs:string" minOccurs="0"/>
			<xs:element name="eqpCode" type="xs:string" minOccurs="0"/>
			<xs:element name="chargesAmt" type="xs:string" minOccurs="0"/>
			<xs:element name="chargesCur" type="xs:string" minOccurs="0"/>
			<xs:element name="chargesDes" type="xs:string" minOccurs="0"/>
			<xs:element name="chargesPercent" type="xs:string" minOccurs="0"/>
			<xs:element name="travelDatesComm" type="xs:string" minOccurs="0"/>
			<xs:element name="travelDatesExp" type="xs:string" minOccurs="0"/>
			<xs:element name="travelDatesRet" type="xs:string" minOccurs="0"/>
			<xs:element name="travelDatesComp" type="xs:string" minOccurs="0"/>
			<xs:element name="salesdatesEarliestRes" type="xs:string" minOccurs="0"/>
			<xs:element name="salesdatesEarliestTktg" type="xs:string" minOccurs="0"/>
			<xs:element name="salesdatesLatestRes" type="xs:string" minOccurs="0"/>
			<xs:element name="salesdatesLatestTktg" type="xs:string" minOccurs="0"/>
			<xs:element name="cxrTkt" type="xs:string" minOccurs="0"/>
			<xs:element name="eTkt" type="xs:string" minOccurs="0"/>
			<xs:element name="bspTkt" type="xs:string" minOccurs="0"/>
			<xs:element name="taText" type="xs:string" minOccurs="0"/>
			<xs:element name="type" type="xs:string" minOccurs="0"/>
			<xs:element name="minSize" type="xs:string" minOccurs="0"/>
			<xs:element name="maxSize" type="xs:string" minOccurs="0"/>
			<xs:element name="flightsNo" type="xs:string" minOccurs="0"/>
			<xs:element name="flightsPct" type="xs:string" minOccurs="0"/>
			<xs:element name="flightsMax" type="xs:string" minOccurs="0"/>
			<xs:element name="children" type="xs:string" minOccurs="0"/>
			<xs:element name="nameReq" type="xs:string" minOccurs="0"/>
			<xs:element name="additionalPassengersNo" type="xs:string" minOccurs="0"/>
			<xs:element name="additionalPassengersPct" type="xs:string" minOccurs="0"/>
			<xs:element name="additionalPassengersTod" type="xs:string" minOccurs="0"/>
			<xs:element name="additionalPassengersPeriod" type="xs:string" minOccurs="0"/>
			<xs:element name="additionalPassengersUnit" type="xs:string" minOccurs="0"/>
			<xs:element name="substitutePassengersNo" type="xs:string" minOccurs="0"/>
			<xs:element name="substitutePassengersPct" type="xs:string" minOccurs="0"/>
			<xs:element name="substitutePassengersTod" type="xs:string" minOccurs="0"/>
			<xs:element name="substitutePassengersPeriod" type="xs:string" minOccurs="0"/>
			<xs:element name="substitutePassengersUnit" type="xs:string" minOccurs="0"/>
			<xs:element name="groupIndividualTravelCond" type="xs:string" minOccurs="0"/>			
			<xs:element name="volchg" type="xs:string" minOccurs="0"/>
			<xs:element name="invchg" type="xs:string" minOccurs="0"/>
			<xs:element name="volref" type="xs:string" minOccurs="0"/>
			<xs:element name="invref" type="xs:string" minOccurs="0"/>
			<xs:element name="othtxt" type="xs:string" minOccurs="0"/>
			<xs:element name="tkttext" type="xs:string" minOccurs="0"/>
			<xs:element name="invtext" type="xs:string" minOccurs="0"/>
			<xs:element name="endtext" type="xs:string" minOccurs="0"/>
			<xs:element name="attribute1" type="xs:string" minOccurs="0"/>
			<xs:element name="psgrType" type="xs:string" minOccurs="0"/>
			<xs:element name="psgrAgeMin" type="xs:string" minOccurs="0"/>
			<xs:element name="psgrAgeMax" type="xs:string" minOccurs="0"/>
			<xs:element name="psgrFareAmt" type="xs:string" minOccurs="0"/>
			<xs:element name="psgrFareCur" type="xs:string" minOccurs="0"/>
			<xs:element name="psgrFareDec" type="xs:string" minOccurs="0"/>
			<xs:element name="psgrFarePercent" type="xs:string" minOccurs="0"/>
			<xs:element name="othtext" type="xs:string" minOccurs="0"/>
			<xs:element name="spaText" type="xs:string" minOccurs="0"/>
			<xs:element name="depositReq" type="xs:string" minOccurs="0"/>
			<xs:element name="depositAmt" type="xs:string" minOccurs="0"/>
			<xs:element name="depositCur" type="xs:string" minOccurs="0"/>
			<xs:element name="depositDec" type="xs:string" minOccurs="0"/>
			<xs:element name="depositPct" type="xs:string" minOccurs="0"/>
			<xs:element name="depositAppl" type="xs:string" minOccurs="0"/>
			<xs:element name="depositDays" type="xs:string" minOccurs="0"/>
			<xs:element name="depositText" type="xs:string" minOccurs="0"/>
			<xs:element name="refundsNonRef" type="xs:string" minOccurs="0"/>
			<xs:element name="refundsAmt" type="xs:string" minOccurs="0"/>
			<xs:element name="refundsCur" type="xs:string" minOccurs="0"/>
			<xs:element name="refundsDec" type="xs:string" minOccurs="0"/>
			<xs:element name="refundsPct" type="xs:string" minOccurs="0"/>
			<xs:element name="refundsAppl" type="xs:string" minOccurs="0"/>
			<xs:element name="refundsDays" type="xs:string" minOccurs="0"/>
			<xs:element name="refundText" type="xs:string" minOccurs="0"/>
			<xs:element name="mixClassText" type="xs:string" minOccurs="0"/>
			<xs:element name="waiverText" type="xs:string" minOccurs="0"/>
			<xs:element name="tktVal" type="xs:string" minOccurs="0"/>
			<xs:element name="jny" type="xs:string" minOccurs="0"/>
			<xs:element name="chgInd" type="xs:string" minOccurs="0"/>
			<xs:element name="commissionOtherText" type="xs:string" minOccurs="0"/>
			<xs:element name="commissionPercent" type="xs:string" minOccurs="0"/>
			<xs:element name="commissionAmt" type="xs:string" minOccurs="0"/>
			<xs:element name="commissionCur" type="xs:string" minOccurs="0"/>
			<xs:element name="commissionDec" type="xs:string" minOccurs="0"/>
			<xs:element name="upgrade" type="xs:string" minOccurs="0"/>
			<xs:element name="baggageNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="baggagePieceKilogram" type="xs:string" minOccurs="0"/>
			<xs:element name="ticketingText" type="xs:string" minOccurs="0"/>
			<xs:element name="otherText" type="xs:string" minOccurs="0"/>

			<xs:element name="fltNo1" type="xs:string" minOccurs="0"/>
			<xs:element name="cxr" type="xs:string" minOccurs="0"/>
			<xs:element name="fltNo2" type="xs:string" minOccurs="0"/>
			<xs:element name="val" type="xs:string" minOccurs="0"/>
			<xs:element name="travelAppl" type="xs:string" minOccurs="0"/>		
			
			<xs:element name="restrictedDateStart" type="xs:string" minOccurs="0"/>
			<xs:element name="restrictedDateStop" type="xs:string" minOccurs="0"/>	
			<xs:element name="text" type="xs:string" minOccurs="0"/>			
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="category01">
		<xs:sequence>
			<xs:element name="categoryRow" type="categoryRow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="category02">
		<xs:sequence>
			<xs:element name="categoryRow" type="categoryRow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="category03">
		<xs:sequence>
			<xs:element name="categoryRow" type="categoryRow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="category04">
		<xs:sequence>
			<xs:element name="categoryRow" type="categoryRow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="category05">
		<xs:sequence>
			<xs:element name="categoryRow" type="categoryRow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="category06">
		<xs:sequence>
			<xs:element name="categoryRow" type="categoryRow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="category07">
		<xs:sequence>
			<xs:element name="categoryRow" type="categoryRow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="category08">
		<xs:sequence>
			<xs:element name="categoryRow" type="categoryRow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="category09">
		<xs:sequence>
			<xs:element name="categoryRow" type="categoryRow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="category10">
		<xs:sequence>
			<xs:element name="categoryRow" type="categoryRow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="category11">
		<xs:sequence>
			<xs:element name="categoryRow" type="categoryRow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="category12">
		<xs:sequence>
			<xs:element name="categoryRow" type="categoryRow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="category13">
		<xs:sequence>
			<xs:element name="categoryRow" type="categoryRow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="category14">
		<xs:sequence>
			<xs:element name="categoryRow" type="categoryRow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="category15">
		<xs:sequence>
			<xs:element name="categoryRow" type="categoryRow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="category16">
		<xs:sequence>
			<xs:element name="categoryRow" type="categoryRow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="category17">
		<xs:sequence>
			<xs:element name="categoryRow" type="categoryRow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="category18">
		<xs:sequence>
			<xs:element name="categoryRow" type="categoryRow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="category19">
		<xs:sequence>
			<xs:element name="categoryRow" type="categoryRow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="category20">
		<xs:sequence>
			<xs:element name="categoryRow" type="categoryRow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="category21">
		<xs:sequence>
			<xs:element name="categoryRow" type="categoryRow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="category22">
		<xs:sequence>
			<xs:element name="categoryRow" type="categoryRow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="category23">
		<xs:sequence>
			<xs:element name="categoryRow" type="categoryRow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="category25">
		<xs:sequence>
			<xs:element name="categoryRow" type="categoryRow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="category26">
		<xs:sequence>
			<xs:element name="categoryRow" type="categoryRow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="category27">
		<xs:sequence>
			<xs:element name="categoryRow" type="categoryRow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="category28">
		<xs:sequence>
			<xs:element name="categoryRow" type="categoryRow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="category29">
		<xs:sequence>
			<xs:element name="categoryRow" type="categoryRow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="category31">
		<xs:sequence>
			<xs:element name="categoryRow" type="categoryRow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="category35">
		<xs:sequence>
			<xs:element name="categoryRow" type="categoryRow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="category50">
		<xs:sequence>
			<xs:element name="categoryRow" type="categoryRow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
